# Data Preprocessing

## Download & export data tables

### Download Microsoft OHLCV with `yfinance` library

**Search for the ticker code**

YFinance: https://finance.yahoo.com/

- [ ] Microsoft: ???

In [ ]:
???

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1986-03-13,0.088542,0.101563,0.088542,0.097222,0.060657,1031788800
1986-03-14,0.097222,0.102431,0.097222,0.100694,0.062823,308160000
...,...,...,...,...,...,...
2023-05-10,308.619995,313.000000,307.670013,312.309998,312.309998,30078000
2023-05-11,310.100006,311.119995,306.260010,310.109985,310.109985,31663200

### Download any ticker

- [x] Microsoft: MSFT
- [ ] Bitcoin: ???

In [ ]:
ticker = '???'
df_BTC = yf.download(ticker, multi_level_index=False, auto_adjust=False)
df_BTC

## Visualize the data with plotly

https://plotly.com/python/candlestick-charts/

In [ ]:
df = df_BTC

go.Figure(data=[go.Candlestick(
    x=df.index,
    open=df['Open'],
    high=df['High'],
    low=df['Low'],
    close=df['Close'])])

## Export the data

### Microsoft data

#### Drop `Adj Close`

- To not confuse the `Close` and `Adj Close`

In [11]:
df_MSFT = df_MSFT.drop(columns='Adj Close')

#### To Excel

- Create a folder called `data`

#### To CSV

- Less size in memory

### Bitcoin data altogether (step by step)

#### Define ticker

In [15]:
ticker = 'BTC-USD'
ticker

'BTC-USD'

#### Download OLHVC

In [16]:
df_ticker = yf.download(ticker, multi_level_index=False, auto_adjust=False)
df_ticker

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
...,...,...,...,...,...,...
2023-05-29,28075.591797,28432.039062,27563.876953,27745.884766,27745.884766,15181308984
2023-05-30,27751.460938,27884.162109,27637.660156,27862.630859,27862.630859,12420773888

#### Create file path

In [17]:
file_path = f'data/{ticker}.xlsx'
file_path

'data/BTC-USD.xlsx'

#### Export to Excel

In [18]:
df_ticker.to_excel(file_path)

#### Export to CSV

In [19]:
df_ticker.to_csv(f'data/{ticker}.csv')

#### Snippet

In [22]:
ticker = 'TSLA'
df_ticker = yf.download(ticker, multi_level_index=False, auto_adjust=False)
df_ticker.to_excel(f'data/{ticker}.xlsx')
df_ticker.to_csv(f'data/{ticker}.csv')

[*********************100%***********************]  1 of 1 completed

## [ ] Data Preprocessing

In [ ]:
???

,Open,High,Low,Close,Volume,change_tomorrow,change_tomorrow_direction
Date,,,,,,,
2016-12-08,56.325228,56.582507,55.902560,56.058762,21220800,-1.549143,DOWN
2016-12-09,56.214968,56.959234,56.169027,56.940857,27349400,-0.321692,DOWN
...,...,...,...,...,...,...,...
2023-03-14,256.750000,261.070007,255.860001,260.790009,33620300,-1.751806,DOWN
2023-03-15,259.980011,266.480011,259.209991,265.440002,46028000,-3.895731,DOWN

### Load the data

In [ ]:
import pandas as pd

df_microsoft = pd.read_excel(
    'data/Microsoft_Stock_Price_Historical_Daily.xlsx',
    parse_dates=['Date'], index_col=0
)

df_microsoft

### Filter the data

![](src/Microsoft_x_LinkedIn.png)

## Create new columns

### Tomorrow's percentage change

### Did the stock go up or down?

## Export preprocessed DataFrame into an Excel