# Challenge: Overfitting on Other Datasets

## Download data from `yfinance`

In [1]:
import yfinance as yf

ticker = 'META'
df = yf.download(ticker)
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-05-18,42.049999,45.000000,38.000000,38.230000,38.189480,573576400
2012-05-21,36.529999,36.660000,33.000000,34.029999,33.993931,168192700
2012-05-22,32.610001,33.590000,30.940001,31.000000,30.967144,101786600
2012-05-23,31.370001,32.500000,31.360001,32.000000,31.966084,73600000
2012-05-24,32.950001,33.209999,31.770000,33.029999,32.994991,50237200
...,...,...,...,...,...,...
2024-05-21,467.119995,470.700012,462.269989,464.630005,464.630005,11742200
2024-05-22,467.869995,473.720001,465.649994,467.779999,467.779999,10078600
2024-05-23,472.880005,474.359985,461.540009,465.779999,465.779999,11747900
2024-05-24,467.619995,479.850006,466.299988,478.220001,478.220001,12012300
2024-05-28,476.579987,480.859985,474.839996,479.920013,479.920013,10165900

## Preprocess the data

### Filter the date range

- Since 1 year ago at least

In [2]:
df = df.loc['2020-01-01':].copy()

### Create the target variable

#### Percentage change

- Percentage change on `Adj Close` for tomorrow

In [3]:
df['change_tomorrow'] = df['Adj Close'].pct_change(-1)
df.change_tomorrow = df.change_tomorrow * -1
df.change_tomorrow = df.change_tomorrow * 100

#### Remove rows with any missing data

In [4]:
df = df.dropna().copy()
df

,Open,High,Low,Close,Adj Close,Volume,change_tomorrow
Date,,,,,,,
2020-01-02,206.750000,209.789993,206.270004,209.779999,209.557648,12077100,-0.531934
2020-01-03,207.210007,210.399994,206.949997,208.669998,208.448837,11188400,1.848545
2020-01-06,206.699997,212.779999,206.520004,212.600006,212.374680,17058900,0.215897
2020-01-07,212.820007,214.580002,211.750000,213.059998,212.834183,14912400,1.003626
2020-01-08,213.000000,216.240005,212.610001,215.220001,214.991898,13475000,1.410903
...,...,...,...,...,...,...,...
2024-05-20,469.950012,473.200012,467.040009,468.839996,468.839996,11745100,-0.906095
2024-05-21,467.119995,470.700012,462.269989,464.630005,464.630005,11742200,0.673392
2024-05-22,467.869995,473.720001,465.649994,467.779999,467.779999,10078600,-0.429387
2024-05-23,472.880005,474.359985,461.540009,465.779999,465.779999,11747900,2.601314
2024-05-24,467.619995,479.850006,466.299988,478.220001,478.220001,12012300,0.354228

## Machine Learning modelling

### Feature selection

1. Target: which variable do you want to predict?
2. Explanatory: which variables will you use to calculate the prediction?

In [5]:
y = df.change_tomorrow
X = df.drop(columns='change_tomorrow')

### Train test split

In [6]:
n_days = len(df.index)
n_days

1107

In [7]:
n_days_split = int(n_days*0.7)
n_days_split

774

In [8]:
X_train, y_train = X.iloc[:n_days_split], y.iloc[:n_days_split]
X_test, y_test = X.iloc[n_days_split:], y.iloc[n_days_split:]

### Fit the model on train set

In [9]:
from sklearn.tree import DecisionTreeRegressor

In [ ]:
model_dt_split = DecisionTreeRegressor(max_depth=15, random_state=42)

In [ ]:
model_dt_split.fit(X=X_train, y=y_train)

DecisionTreeRegressor(max_depth=15, random_state=42)

### Evaluate model

#### On test set

In [ ]:
from sklearn.metrics import mean_squared_error

y_pred_test = model_dt_split.predict(X=X_test)
mean_squared_error(y_true=y_test, y_pred=y_pred_test)

30.190822994915397

#### On train set

In [ ]:
y_pred_train = model_dt_split.predict(X=X_train)
mean_squared_error(y_true=y_train, y_pred=y_pred_train)

2.9786228619427435

## Backtesting

In [ ]:
from backtesting import Backtest, Strategy

### Create the `Strategy`

In [ ]:
class Regression(Strategy):
    limit_buy = 1
    limit_sell = -5
    
    def init(self):
        self.model = DecisionTreeRegressor(max_depth=15, random_state=42)
        self.already_bought = False
        
        self.model.fit(X=X_train, y=y_train)

    def next(self):
        explanatory_today = self.data.df.iloc[[-1], :]
        forecast_tomorrow = self.model.predict(explanatory_today)[0]
        
        if forecast_tomorrow > self.limit_buy and self.already_bought == False:
            self.buy()
            self.already_bought = True
        elif forecast_tomorrow < self.limit_sell and self.already_bought == True:
            self.sell()
            self.already_bought = False
        else:
            pass

### Run the backtest on `test` data

In [ ]:
bt_test = Backtest(X_test, Regression,
              cash=10000, commission=.002, exclusive_orders=True)

In [ ]:
results = bt_test.run(limit_buy=1, limit_sell=-5)

df_results_test = results.to_frame(name='Values').loc[:'Return [%]']\
    .rename({'Values':'Out of Sample (Test)'}, axis=1)
df_results_test

                  Out of Sample (Test)
Start              2022-05-09 00:00:00
End                2023-05-11 00:00:00
Duration             367 days 00:00:00
Exposure Time [%]            98.425197
Equity Final [$]          11777.599015
Equity Peak [$]           15048.499192
Return [%]                    17.77599

### Run the backtest on `train` data

In [ ]:
bt_train = Backtest(X_train, Regression,
              cash=10000, commission=.002, exclusive_orders=True)

results = bt_train.run(limit_buy=1, limit_sell=-5)

df_results_train = results.to_frame(name='Values').loc[:'Return [%]']\
    .rename({'Values':'In Sample (Train)'}, axis=1)
df_results_train

                     In Sample (Train)
Start              2020-01-02 00:00:00
End                2022-05-06 00:00:00
Duration             855 days 00:00:00
Exposure Time [%]            93.412162
Equity Final [$]          18421.327962
Equity Peak [$]           18976.204845
Return [%]                    84.21328

### Compare both backtests

#### In the same DataFrame

- HINT: Concatenate the previous `DataFrames`

In [ ]:
import pandas as pd

In [ ]:
df_results = pd.concat([df_results_train, df_results_test], axis=1)
df_results

                     In Sample (Train) Out of Sample (Test)
Start              2020-01-02 00:00:00  2022-05-09 00:00:00
End                2022-05-06 00:00:00  2023-05-11 00:00:00
Duration             855 days 00:00:00    367 days 00:00:00
Exposure Time [%]            93.412162            98.425197
Equity Final [$]          18421.327962         11777.599015
Equity Peak [$]           18976.204845         15048.499192
Return [%]                    84.21328             17.77599

#### Plot both backtest reports

In [ ]:
bt_test.plot(filename='reports_backtesting/regression_test_set.html')
bt_train.plot(filename='reports_backtesting/regression_train_set.html')

Row(id='3443', ...)

## How to solve the overfitting problem?

> Walk Forward Validation as a realistic approach to backtesting.

Next tutorial â†’ [Walk Forward Validation]()

![](<src/10_Table_Validation Methods.png>)