# Backtesting ML Regression-Based

## Load the model

In [9]:
import pickle

In [10]:
with open('models/model_dt_microsoft_linkedin_regression.pkl', 'rb') as f:
    model_dt = pickle.load(f)

In [11]:
model_dt

DecisionTreeRegressor(max_depth=15)

## Load the data

In [13]:
import pandas as pd

df = pd.read_excel('data/Microsoft_LinkedIn_Processed.xlsx', index_col=0, parse_dates=['Date'])
df

,Open,High,Low,Close,Volume,change_tomorrow,change_tomorrow_direction
Date,,,,,,,
2016-12-08,56.325228,56.582507,55.902560,56.058762,21220800,-1.549143,DOWN
2016-12-09,56.214968,56.959234,56.169027,56.940857,27349400,-0.321692,DOWN
...,...,...,...,...,...,...,...
2023-03-13,247.399994,257.910004,245.729996,253.919998,33339700,-2.634307,DOWN
2023-03-14,256.750000,261.070007,255.860001,260.790009,33620300,-1.751806,DOWN

## Backtesting.py Library

### Create your Strategy Class

In [14]:
from backtesting import Backtest, Strategy

In [15]:
df_explanatory = df[['Open', 'High', 'Low', 'Close', 'Volume']].copy()

In [16]:
df_explanatory.iloc[-1:, :]

              Open        High         Low       Close    Volume
Date
2023-03-14  256.75  261.070007  255.860001  260.790009  33620300

In [17]:
df.change_tomorrow.iloc[-1:]

Date
2023-03-14   -1.751806
Name: change_tomorrow, dtype: float64

In [18]:
class SimpleRegression(Strategy):
    
    ???

### Define initial conditions

In [19]:
bt = Backtest(df_explanatory, SimpleClassificationUD,
              cash=10000, commission=.002, exclusive_orders=True)

### Run backtesting

In [20]:
results = bt.run()

### Interpret backtesting results

In [21]:
results.to_frame(name='Values').loc[:'Return [%]']

                                Values
Start              2016-12-08 00:00:00
End                2023-03-14 00:00:00
Duration            2287 days 00:00:00
Exposure Time [%]            81.714286
Equity Final [$]          17304.440567
Equity Peak [$]           25626.315277
Return [%]                   73.044406

### Visualize the strategy performance